# PyCharm settings
.idea/
*.iml

# Python compiled files
__pycache__/
*.pyc

# Virtual Environments
.venv/
venv/
env/

# Data
dataset/
raw_data/

# Model Artifacts & Results
src/micro_model/models/
src/results/